.Input {
	border: none;
	padding: 0.5rem;
	background: none;
	outline: none;
	width: 200px;
}

.Input_white {
	border-bottom: 1px solid white;
	color: white;
	transition: background 0.4s;
}

.Input_white:focus {
	background: rgba(255, 255, 255, 0.1);
}

.Input_black {
	border-bottom: 1px solid black;
	color: black;
	transition: background 0.4s;
}

.Input_black:focus {
	background: rgba(0, 0, 0, 0.1î);
}
