.CommentList {
	border-top: 1px solid black;
	border-left: 1px solid black;
	margin-bottom: 10px;
}

.CommentList-header {
	margin: 10px 0 10px 10px;
	font-style: italic;
}
.CommentItem {
	border-top: 1px solid black;
	border-left: 1px solid black;
	margin-left: 10px;
	padding: 10px 0 0 10px;
}
.AddComment textarea {
	box-sizing: border-box;
	width: calc(100% - 10px);
	padding: 10px;
	font-size: 16px;
	margin-left: 10px;
	border: black 1px solid;
}
.AddComment button {
	box-sizing: border-box;
	width: calc(100% - 10px);
	padding: 10px;
	font-size: 16px;
	margin-left: 10px;
}
